body > header > h1 {
    padding-block: 0 calc(var(--s0)/4);
}

body > header > h1 a {
    color: var(--text-gray);
    text-decoration: none;
}

body > footer {
    display: flex;
    justify-content: space-between;
}

body > footer a {
    color: var(--color-primary);
}

body > footer a:hover {
    color: blue;
}

@media (max-width: 768px) {
    body > footer span {
        text-wrap: wrap;
    }

    body > footer {
        flex-direction: column;
    }
}

body > main {
    padding-bottom: var(--s8);
}